
*{
   margin: 0;
   padding: 0;
}


header img{
    width: 100%;
    height: 200px;
}



.segundo{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 400px;
}

.segundo article{
    width: 50%;
   
    height: 300px;
    margin: auto;
    display: block;
    margin-right: 30px;
}


.segundo article img{
    display: block;
    margin: auto;
    width: 500px;
    height: 300px;

}

.segundo p{
   font-size: 24px;
  
}

section{
    text-align: center;
}


.joke article{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.joke article img{
    width: 500px;
    height:500px ;

}

article div{
    width: 50%;
}

article div p{
    font-size: 25px;
}



footer{
    margin-top: 100px;

}


footer img{
    width: 100%;
    height: 300px;

}